/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'hiliteu';
@reset      : 'hiliteu';

/* Elements */
@button     : 'round';
@container  : 'hiliteu';
@divider    : 'hiliteu';
@flag       : 'hiliteu';
@header     : 'hiliteu';
@icon       : 'hiliteu';
@image      : 'hiliteu';
@input      : 'hiliteu';
@label      : 'round';
@list       : 'hiliteu';
@loader     : 'hiliteu';
@rail       : 'hiliteu';
@reveal     : 'hiliteu';
@segment    : 'hiliteu';
@step       : 'hiliteu';

/* Collections */
@breadcrumb : 'hiliteu';
@form       : 'hiliteu';
@grid       : 'hiliteu';
@menu       : 'hiliteu';
@message    : 'hiliteu';
@table      : 'hiliteu';

/* Modules */
@accordion  : 'hiliteu';
@checkbox   : 'hiliteu';
@dimmer     : 'hiliteu';
@dropdown   : 'hiliteu';
@embed      : 'hiliteu';
@modal      : 'hiliteu';
@nag        : 'hiliteu';
@popup      : 'hiliteu';
@progress   : 'hiliteu';
@rating     : 'hiliteu';
@search     : 'hiliteu';
@shape      : 'hiliteu';
@sidebar    : 'hiliteu';
@sticky     : 'hiliteu';
@tab        : 'hiliteu';
@transition : 'hiliteu';

/* Views */
@ad         : 'hiliteu';
@card       : 'hiliteu';
@comment    : 'hiliteu';
@feed       : 'hiliteu';
@item       : 'hiliteu';
@statistic  : 'hiliteu';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : '../../src/ui/themes';

/* Path to site override folder */
@siteFolder  : '../../src/ui/site';


/*******************************
         Import Theme
*******************************/

@import '~semantic-ui-less/theme.less';

/*******************************
         Import Fonts
*******************************/

@fontPath : '../../../themes/@{theme}/assets/fonts';

/* End Config */